In [1]:
import pandas as pd
#def CustomParser(data):
#    import json
#    import numpy as np
#    if (data == np.nan):
#        return json.loads("{}")
#    j1 = json.loads(data)
#    return j1
df = pd.read_csv('yelpdata/yelp-csv/yelp_academic_dataset_business.csv')

In [2]:
df['attributes']

0                                                        {}
1         {'GoodForMeal': "{'dessert': False, 'latenight...
2         {'BusinessParking': "{'garage': False, 'street...
3         {'BusinessParking': "{'garage': False, 'street...
4                                                        {}
                                ...
192604    {'Ambience': "{'romantic': False, 'intimate': ...
192605                                                   {}
192606                                                  NaN
192607    {'BusinessParking': "{'garage': False, 'street...
192608                                                  NaN
Name: attributes, Length: 192609, dtype: object

In [3]:
# Examining the graph above you can conclude 
import numpy as np
df = pd.DataFrame(df[['business_id','attributes']], columns = ['business_id', 'attributes'])
df = df.dropna()
df

,business_id,attributes
0,1SWheh84yJXfytovILXOAQ,{}
1,QXAEGFB4oINsVuTFxEYKFQ,"{'GoodForMeal': ""{'dessert': False, 'latenight..."
2,fcXOEZdXYeZqnQ3lGlOXmg,"{'BusinessParking': ""{'garage': False, 'street..."
3,f2ZWZPENViL92BrFsIgR6w,"{'BusinessParking': ""{'garage': False, 'street..."
4,6KgGE8B1RsR7jc9R5nuH0Q,{}
...,...,...
192601,zsrPJ7WD2OTrH1sbg2S7gg,{}
192603,Ul12enCzNT0G_jj5TCvJ8Q,{}
192604,wWV90q48ugyxyXW6gZav8w,"{'Ambience': ""{'romantic': False, 'intimate': ..."
192605,phSaT3I_y6To1J2OdeFSUQ,{}
192607,gdiOk0n7DmNE9w8xeHWkvw,"{'BusinessParking': ""{'garage': False, 'street..."

In [4]:
#the following is a guide on how to parse the fuck out of a JSON variable

In [5]:
filtamb = df['attributes'].str.contains("Ambience")
df = df[filtamb]

In [6]:
toParse = df.loc[1].attributes.split('Ambience')

In [7]:
beginIndex = toParse[1].find('{')
beginIndex

4

In [8]:
endIndex = toParse[1].find('}')
endIndex

162

In [9]:
ambience_fields = toParse[1]
ambience_fields = ambience_fields[beginIndex:(endIndex+1)]
ambience_fields

"{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'divey': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': True}"

In [10]:
splitted_fields = ambience_fields.split(': ')
splitted_fields

["{'romantic'",
 "False, 'intimate'",
 "False, 'classy'",
 "False, 'hipster'",
 "False, 'divey'",
 "False, 'touristy'",
 "False, 'trendy'",
 "False, 'upscale'",
 "False, 'casual'",
 'True}']

In [11]:
splitted_fields[0] = (splitted_fields[0])[1:]
splitted_fields[-1] = (splitted_fields[-1])[0:4]
splitted_fields

["'romantic'",
 "False, 'intimate'",
 "False, 'classy'",
 "False, 'hipster'",
 "False, 'divey'",
 "False, 'touristy'",
 "False, 'trendy'",
 "False, 'upscale'",
 "False, 'casual'",
 'True']

In [12]:
mycleanlist = list()
for i in range(0, len(splitted_fields) -1):
    commasplitted1 = splitted_fields[i].split(', ')
    commasplitted2 = splitted_fields[i+1].split(', ')
    name_fields = commasplitted1[-1] #e.g. touristy
    name_value_none = 2*int(commasplitted2[0] == 'None')
    name_value_true = 1*int(commasplitted2[0] == 'True')
    name_value_false = 0
    mycleanlist.append((name_fields[1: -1], name_value_none + name_value_true + name_value_false))
mycleanlist

[('romantic', 0),
 ('intimate', 0),
 ('classy', 0),
 ('hipster', 0),
 ('divey', 0),
 ('touristy', 0),
 ('trendy', 0),
 ('upscale', 0),
 ('casual', 1)]

In [13]:
#given a list of tuples get the AID (ambience ID) (in base 3 so 6561 = 3^8, 2187 = 3^7, etc... and 0 encodes None, 2 encodes True, 1 encodes False)
weights = {'romantic': 6561, 'intimate': 2187, 'classy': 729, 'hipster': 243, 'divey': 81,
          'touristy': 27, 'trendy': 9, 'upscale': 3, 'casual': 1}
aid = 0
for i in mycleanlist:
    aid = aid + weights[i[0]]*i[1]
aid

1

In [14]:
def attributeAmbienceToAid(attributes):
    splitAtAmbience = str(attributes).split("'Ambience': ")
    beginIndex      = splitAtAmbience[1].find('{')
    endIndex        = splitAtAmbience[1].find('}')
    ambience_fields = (splitAtAmbience[1])[beginIndex:(endIndex+1)]
    splitted_fields = ambience_fields.split(': ')
    
    #trim out the annoying braces
    splitted_fields[0] = (splitted_fields[0])[1:]
    splitted_fields[-1] = (splitted_fields[-1])[0:4]
    if((splitAtAmbience[1]).startswith("'None'")):
        return -1
    
    # get the aid
    aid = 0
    for i in range(0, len(splitted_fields) -1):
        commasplitted1 = splitted_fields[i].split(', ')
        commasplitted2 = splitted_fields[i+1].split(', ')
        name_fields = commasplitted1[-1] #e.g. touristy
        name_value = 2*int(commasplitted2[0] == 'True') + 1*int(commasplitted2[0] == 'False')
        aid = aid + weights[name_fields[1: -1]]*name_value
    return aid

In [15]:
df.loc[1].attributes

'{\'GoodForMeal\': "{\'dessert\': False, \'latenight\': False, \'lunch\': True, \'dinner\': True, \'brunch\': False, \'breakfast\': False}", \'BusinessParking\': "{\'garage\': False, \'street\': False, \'validated\': False, \'lot\': True, \'valet\': False}", \'NoiseLevel\': "u\'loud\'", \'Ambience\': "{\'romantic\': False, \'intimate\': False, \'classy\': False, \'hipster\': False, \'divey\': False, \'touristy\': False, \'trendy\': False, \'upscale\': False, \'casual\': True}"}'

In [16]:
#test this method 
x = attributeAmbienceToAid(df.loc[1].attributes)
print('done with value '+str(x))

done with value 9842

In [17]:
for i in range(0,20):
    print('\n \n')
    print(df.iloc[i].attributes)

{'GoodForMeal': "{'dessert': False, 'latenight': False, 'lunch': True, 'dinner': True, 'brunch': False, 'breakfast': False}", 'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}", 'NoiseLevel': "u'loud'", 'Ambience': "{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'divey': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': True}"}



{'Ambience': "{'touristy': False, 'hipster': False, 'romantic': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': False, 'casual': False}", 'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}", 'NoiseLevel': "u'average'"}



{'NoiseLevel': "'average'", 'Ambience': "{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'divey': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': True}", 'GoodForMeal': "{'dessert': False, 'latenight': False, 'lunch': True, 'dinner': True, 'brunch': False, 'breakfast': False}", 'Music': "{'dj': False, 'background_music': False, 'no_music': False, 'jukebox': False, 'live': False, 'video': False, 'karaoke': False}", 'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}"}



{'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}", 'GoodForMeal': "{'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'brunch': False, 'breakfast': False}", 'NoiseLevel': "u'quiet'", 'Ambience': "{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'divey': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': False}"}



{'Ambience': "{'touristy': False, 'hipster': False, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': False, 'casual': False}", 'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}"}



{'NoiseLevel': "'quiet'", 'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}", 'Ambience': "{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'divey': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': False}"}



{'GoodForMeal': "{'dessert': False, 'latenight': False, 'lunch': True, 'dinner': True, 'brunch': False, 'breakfast': False}", 'Ambience': "{'touristy': False, 'hipster': False, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': False, 'casual': True}", 'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}", 'NoiseLevel': "u'average'"}



{'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}", 'GoodForMeal': "{'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'brunch': False, 'breakfast': False}", 'Ambience': "{'touristy': False, 'hipster': False, 'romantic': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': False, 'casual': False}", 'NoiseLevel': "u'loud'"}



{'Ambience': "{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'divey': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': False}", 'BusinessParking': "{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}", 'NoiseLevel': "u'average'"}



{'NoiseLevel': "u'average'", 'BusinessParking': "{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}", 'Ambience': "{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'divey': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': True}"}



{'NoiseLevel': "u'quiet'", 'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}", 'Ambience': "{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'divey': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': False}"}



{'Ambience': "{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'divey': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': False}", 'Music': "{'dj': False, 'background_music': False, 'no_music': False, 'jukebox': False, 'live': False, 'video': False, 'karaoke': False}", 'GoodForMeal': "{'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'brunch': False, 'breakfast': False}", 'NoiseLevel': "'loud'", 'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}"}



{'GoodForMeal': "{'dessert': True, 'latenight': False, 'lunch': True, 'dinner': True, 'brunch': False, 'breakfast': False}", 'NoiseLevel': "'quiet'", 'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}", 'Ambience': "{'touristy': False, 'hipster': False, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': False, 'casual': True}"}



{'Ambience': "{'touristy': False, 'hipster': False, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': False, 'casual': True}", 'GoodForMeal': "{'dessert': False, 'latenight': False, 'lunch': True, 'dinner': False, 'brunch': True, 'breakfast': True}", 'NoiseLevel': "'quiet'", 'BusinessParking': "{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}"}



{'GoodForMeal': "{'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'brunch': False, 'breakfast': False}", 'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}", 'NoiseLevel': "u'quiet'", 'Ambience': "{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'divey': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': False}"}



{'NoiseLevel': "u'loud'", 'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}", 'Ambience': "{'romantic': False, 'intimate': False, 'touristy': False, 'hipster': False, 'divey': False, 'classy': False, 'trendy': False, 'upscale': False, 'casual': True}"}



{'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}", 'NoiseLevel': "u'average'", 'Ambience': "{'touristy': False, 'hipster': True, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': True, 'upscale': False, 'classy': False, 'casual': True}", 'GoodForMeal': "{'dessert': True, 'latenight': False, 'lunch': True, 'dinner': False, 'brunch': True, 'breakfast': True}"}



{'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}", 'NoiseLevel': "u'loud'", 'Ambience': "{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'divey': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': True}"}



{'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}", 'NoiseLevel': "u'loud'", 'Ambience': "{'romantic': False, 'intimate': False, 'touristy': False, 'hipster': False, 'divey': False, 'classy': False, 'trendy': False, 'upscale': False, 'casual': False}", 'Music': "{'dj': False, 'background_music': False, 'no_music': False, 'jukebox': False, 'live': False, 'video': False, 'karaoke': False}", 'GoodForMeal': "{'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'brunch': False, 'breakfast': False}"}



{'NoiseLevel': "u'average'", 'Ambience': "{'romantic': False, 'intimate': False, 'touristy': False, 'hipster': False, 'divey': False, 'classy': False, 'trendy': False, 'upscale': False, 'casual': True}", 'GoodForMeal': "{'dessert': False, 'latenight': False, 'lunch': True, 'dinner': True, 'brunch': False, 'breakfast': False}", 'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}", 'Music': "{'dj': False, 'background_music': False, 'no_music': False, 'jukebox': True, 'live': False, 'video': False, 'karaoke': False}"}

In [18]:
df['attributes'] = df['attributes'].apply(attributeAmbienceToAid)
print('done')

done

/Users/amroa/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
df.head(20)

               business_id  attributes
1   QXAEGFB4oINsVuTFxEYKFQ        9842
11  YK8aOugv9mLrzBgJKP9biA        9759
18  8Wm2NMAoukBC2wQR49E4ng        9842
21  8HAsNLoSr3xi5rwQretp3w        9840
24  b01JHXXVU9XuUuFMGWDMJw        9840
25  JGM-SxW_vayu0fBch-U2FQ        9840
31  GWCd4xlTdOwcaaSSu9b9XQ        9842
36  omfSvRsQVhJkU_yB8udhIw        9759
37  N0Tk9ORpX-gtbPNR0WoznQ        9840
49  rsiW1dz9FD1EfNPoDfaDDQ        9842
51  LHOa9n7JQCGgnMoA1NDbbw        9840
56  uD1dQcPeYIkAPqjzQ79MrQ        9840
58  5O7qB4gNmr3NgdYAuYbP4Q        9842
63  kVXyz0mYd7NaGuGdM_VMeQ        9842
86  BDCSaCKVEuQNtfgayiqbUg        9840
87  SH1c1aFJl0uHVnVPEF-fTA        9842
88  PVk7KKTlWRygSF6dExWYCg       10094
89  wFGsC5Bgi6_Tbr4gvORCYw        9842
90  8jOJmMw6Vfn8ug1nZstH3A        9840
93  LH-_iinkV1XOxSuJMBqhmw        9842

In [20]:
len(df)

48079

In [21]:
df.rename(columns={'attributes':'AID'}, inplace=True)

/Users/amroa/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [22]:
df

                   business_id   AID
1       QXAEGFB4oINsVuTFxEYKFQ  9842
11      YK8aOugv9mLrzBgJKP9biA  9759
18      8Wm2NMAoukBC2wQR49E4ng  9842
21      8HAsNLoSr3xi5rwQretp3w  9840
24      b01JHXXVU9XuUuFMGWDMJw  9840
...                        ...   ...
192590  2_aYWG3cVnAXH6yHzGu05Q  9840
192592  Gfa85o6JuT9uBqi9fqC-UA  9842
192594  8QWPlVQ6D-OExqXoaD2Z1g  9840
192595  0OvM4_xU5cJYCo0bsbVEQw  9842
192604  wWV90q48ugyxyXW6gZav8w  9759

[48079 rows x 2 columns]

In [23]:
df.replace(-1, np.nan, inplace=True)

/Users/amroa/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [24]:
df = df.dropna()

In [25]:
df

                   business_id     AID
1       QXAEGFB4oINsVuTFxEYKFQ  9842.0
11      YK8aOugv9mLrzBgJKP9biA  9759.0
18      8Wm2NMAoukBC2wQR49E4ng  9842.0
21      8HAsNLoSr3xi5rwQretp3w  9840.0
24      b01JHXXVU9XuUuFMGWDMJw  9840.0
...                        ...     ...
192590  2_aYWG3cVnAXH6yHzGu05Q  9840.0
192592  Gfa85o6JuT9uBqi9fqC-UA  9842.0
192594  8QWPlVQ6D-OExqXoaD2Z1g  9840.0
192595  0OvM4_xU5cJYCo0bsbVEQw  9842.0
192604  wWV90q48ugyxyXW6gZav8w  9759.0

[47547 rows x 2 columns]

In [26]:
df['AID'] = df['AID'].astype(int)
#save df to csv here
df

/Users/amroa/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                   business_id   AID
1       QXAEGFB4oINsVuTFxEYKFQ  9842
11      YK8aOugv9mLrzBgJKP9biA  9759
18      8Wm2NMAoukBC2wQR49E4ng  9842
21      8HAsNLoSr3xi5rwQretp3w  9840
24      b01JHXXVU9XuUuFMGWDMJw  9840
...                        ...   ...
192590  2_aYWG3cVnAXH6yHzGu05Q  9840
192592  Gfa85o6JuT9uBqi9fqC-UA  9842
192594  8QWPlVQ6D-OExqXoaD2Z1g  9840
192595  0OvM4_xU5cJYCo0bsbVEQw  9842
192604  wWV90q48ugyxyXW6gZav8w  9759

[47547 rows x 2 columns]

In [35]:
df_amb = pd.DataFrame(df['AID'])
df_amb

         AID
1       9842
11      9759
18      9842
21      9840
24      9840
...      ...
192590  9840
192592  9842
192594  9840
192595  9842
192604  9759

[47547 rows x 1 columns]

In [ ]:
df_amb.drop_duplicates(subset ="AID", 
                     keep = 'first', inplace = True)

In [36]:
#map the ternary strings to list
def bitcountToRomBoolean(aid, ambfield):
    leftShift = aid//weights[ambfield]
    value__ = (leftShift)%3
    return value__
    
df_amb['romantic'] = df_amb['AID'].apply(lambda x : bitcountToRomBoolean(x, 'romantic'))
df_amb['casual'] = df_amb['AID'].apply(lambda x : bitcountToRomBoolean(x, 'casual'))
df_amb['trendy'] = df_amb['AID'].apply(lambda x : bitcountToRomBoolean(x, 'trendy'))

df_amb['touristy'] = df_amb['AID'].apply(lambda x : bitcountToRomBoolean(x, 'touristy'))
df_amb['divey'] = df_amb['AID'].apply(lambda x : bitcountToRomBoolean(x, 'divey'))
df_amb['hipster'] = df_amb['AID'].apply(lambda x : bitcountToRomBoolean(x, 'hipster'))

df_amb['intimate'] = df_amb['AID'].apply(lambda x : bitcountToRomBoolean(x, 'intimate'))
df_amb['classy'] = df_amb['AID'].apply(lambda x : bitcountToRomBoolean(x, 'classy'))
df_amb['upscale'] = df_amb['AID'].apply(lambda x : bitcountToRomBoolean(x, 'upscale'))

In [37]:
df_amb

,AID,romantic,casual,trendy,touristy,divey,hipster,intimate,classy,upscale
1,9842,1,2,1,1,1,1,1,1,1
11,9759,1,0,1,1,0,1,1,1,1
18,9842,1,2,1,1,1,1,1,1,1
21,9840,1,0,1,1,1,1,1,1,1
24,9840,1,0,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...
192590,9840,1,0,1,1,1,1,1,1,1
192592,9842,1,2,1,1,1,1,1,1,1
192594,9840,1,0,1,1,1,1,1,1,1
192595,9842,1,2,1,1,1,1,1,1,1
192604,9759,1,0,1,1,0,1,1,1,1

In [38]:
#remove duplicates
df_amb.drop_duplicates(subset ="AID", 
                     keep = 'first', inplace = True) 
df_amb

,AID,romantic,casual,trendy,touristy,divey,hipster,intimate,classy,upscale
1,9842,1,2,1,1,1,1,1,1,1
11,9759,1,0,1,1,0,1,1,1,1
21,9840,1,0,1,1,1,1,1,1,1
88,10094,1,2,2,1,1,2,1,1,1
103,19328,2,2,2,1,1,1,2,2,1
...,...,...,...,...,...,...,...,...,...,...
178247,13013,1,2,2,1,1,2,2,2,2
180186,19344,2,0,1,2,1,1,2,2,1
183080,16652,2,2,2,1,1,2,1,1,0
187914,16334,2,2,2,1,0,1,1,1,2
189058,10608,1,0,2,2,1,1,1,2,2

In [ ]:
#write to csv the df_amb here